﻿@using rupoi.Resources
@using rupoi.Infrastructure.Extensions
@using rupoi.Data.Enums
@model rupoi.Models.Dictionaries.DictionaryModel

<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <slot name="header">
                            Справочник
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            <div class="row">
                                <div class="col-lg-12">
                                    @Html.EditorFor(m => m.Name)
                                </div>
                            </div>
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <button class="btn btn-primary" v-on:click="submitData">Создать</button>
                            <button class="modal-default-button" @@click="$emit('close')">
                                Закрыть
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<style>
       .modal-mask {
           position: fixed;
           z-index: 9998;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           background-color: rgba(0, 0, 0, 0.5);
           display: table;
           transition: opacity 0.3s ease;
       }

       .modal-wrapper {
           display: table-cell;
           vertical-align: middle;
       }

       .modal-container {
           width: 300px;
           margin: 0px auto;
           padding: 20px 30px;
           background-color: #fff;
           border-radius: 2px;
           box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
           transition: all 0.3s ease;
           font-family: Helvetica, Arial, sans-serif;
       }

       .modal-header h3 {
           margin-top: 0;
           color: #42b983;
       }

       .modal-body {
           margin: 20px 0;
       }

       .modal-default-button {
           float: right;
       }

       /*
    * The following styles are auto-applied to elements with
    * transition="modal" when their visibility is toggled
    * by Vue.js.
    *
    * You can easily play with the modal transition by editing
    * these styles.
    */

       .modal-enter {
           opacity: 0;
       }

       .modal-leave-active {
           opacity: 0;
       }

       .modal-enter .modal-container,
       .modal-leave-active .modal-container {
               -webkit-transform: scale(1.1);
               transform: scale(1.1);
           }
</style>

<script>
    module.exports = {
        data: function () {
            return {
                model: {},
            }
        },
        props: ['type', 'id'],
        created: function () {

            if (this.id > 0) {
                var $this = this;
                $.post("/Dictionaries/Find", { id: this.id, type: this.type }).done(function (result) {
                    $this.model = result;
                });
            }
        },
        methods: {
            submitData: function (message, event) {

                if (event) {
                    event.preventDefault();
                }
                
                var data = {};
                data['type'] = this.type;
                data['model'] = this.model;

                $this = this;
                $.post("/Dictionaries/Save", data).done(function () {
                    $this.$emit('popup-closed')
                });
            }
        }
    }
</script>