﻿<template>
    <div class="col-xl-12">
        <div class="card card-custom card-stretch gutter-b">
            <!--begin::Header-->
            <div class="card-header border-0 py-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label font-weight-bolder text-dark">{{pageModel.Title}}</span>
                </h3>
                <div class="card-toolbar">
                    <button href="#" class="btn btn-info font-weight-bolder font-size-sm mr-3" v-on:click="create()">Создать</button>
                </div>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body pt-0 pb-3">
                <div class="tab-content">
                    <!--begin::Table-->
                    <div class="table-responsive">
                        <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                            <thead>
                                <tr class="text-left text-uppercase">
                                    <th style="min-width: 250px" class="pl-7">
                                        <span class="text-dark-75">Название</span>
                                    </th>
                                    <th style="min-width: 80px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in pageModel.List" :key="id">
                                    <td>{{item['Name']}}</td>
                                    <td>
                                        <button v-on:click="edit(item.Id)">Редактировать</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--end::Table-->
                </div>
            </div>
            <!--end::Body-->
        </div>


        <script type="text/x-template" id="modal-template">
            
        </script>

        <button id="show-modal" @@click="showModal = true">Show Modal</button>

        <modal v-if="showModal" v-bind:type="type" v-bind:id="itemId" v-on:popup-closed="popupClosed" @@close="showModal = false"></modal>
    </div>
</template>

<script>
    module.exports = {
        data: function () {
            return {
                pageModel: {
                    Type: ''
                },
                showModal: false,
                type: '',
                itemId: 0
            }
        },
        created: function () {
            
            @*$.post("/Dictionaries/List", { dictionaryType: this.$route.params.type }).done(function (result) {
                $this.pageModel = result;
            });*@

            Vue.component("modal", httpVueLoader('/Dictionaries/Create.vue'));
            this.type = this.$route.params.type
            this.reload();
        },
        methods: {
            create: function (message, event) {
                if (event) {
                    event.preventDefault();
                }

                showModal = true;
            },
            edit: function (id, event) {
                if (event) {
                    event.preventDefault();
                }
                this.itemId = id;
                this.showModal = true;
            },
            reload: function () {
                var $this = this;

                $.post("/Dictionaries/List", { dictionaryType: this.$route.params.type }).done(function (result) {
                    $this.pageModel = result;
                });
            },
            popupClosed: function () {
                this.showModal = false
                this.reload();
            }

        },
        
    }
</script>