﻿@using rupoi.Resources
@using rupoi.Infrastructure.Extensions
@using rupoi.Data.Enums
@model rupoi.Models.Registration.RegistrationAdd

<template>
    <div>
        <div class="row">
            <div class="form-title-colored">
                @LocResource.PersonalData
            </div>

            <div class="col-lg-6">
                @Html.EditorFor(m => m.Inn)
                @Html.EditorFor(m => m.FirstName)
            </div>
            <div class="col-lg-6">
                @Html.EditorFor(m => m.Name)
                @Html.EditorFor(m => m.ParentName)
            </div>
            <div class="col-lg-6">
                @Html.EditorFor(m => m.BirthDate)
                @Html.EditorFor(m => m.Sex, new { Collection = EnumUtil.GetLocalizedDictionaryIntegerId<Sex>(), })
                @Html.EditorFor(m => m.DocumentType, new { Collection = EnumUtil.GetLocalizedDictionaryIntegerId<DocumentType>(), })
                @Html.EditorFor(m => m.DocumentSeries, new { Collection = EnumUtil.GetLocalizedListString<DocumentSeries>(), })
            </div>
            <div class="col-lg-6">
                @Html.EditorFor(m => m.DocumentNumber)
                @Html.EditorFor(m => m.DocumentIssueDate)
            </div>
            <div class="col-lg-6">
                @Html.EditorFor(m => m.DocumentIssuedBy)
            </div>
        </div>
        <div class="row">

            <div class="form-title-colored">
                @LocResource.RegisteredAddress
            </div>
            <div class="col-lg-6">
                @Html.EditorFor(m => m.Address)
                @Html.EditorFor(m => m.PhoneNumber)
            </div>
        </div>
        <div class="row">
            <div class="form-title-colored">
                @LocResource.LivingAddress
            </div>
            <div class="col-lg-6">
                @Html.EditorFor(m => m.Address)
                @Html.EditorFor(m => m.PhoneNumber)
            </div>
        </div>
        <div class="row">
            <div class="form-title-colored">
                @LocResource.LivingAddress
            </div>
            <div class="col-lg-6">
                @Html.EditorFor(m => m.Inn)
                @Html.EditorFor(m => m.Inn)
            </div>
        </div>
        <div class="row">
            <div class="form-title-colored">
                @LocResource.LovzData
            </div>
            <div class="col-lg-6">
                @Html.EditorFor(m => m.LovzType)
                @Html.EditorFor(m => m.LovzGroupe)
            </div>
            <div class="col-lg-6">
                @Html.EditorFor(m => m.Note)
            </div>
        </div>

        <button class="btn btn-primary" v-on:click="submitData">Создать</button>
    </div>    
</template>

<script>
    module.exports = {
        data: function () {
            return {
                who: 'world',
                model: {
                    Address: "aasasasas"
                },

            }
        },
        created: function () {

            @*var $this = this;
            $.post("/Registration/Save", { id: this.$route.params.id }).done(function (result) {
                $this.model = result;
            });*@

        },
        methods: {
            submitData: function (message, event) {

                if (event) {
                    event.preventDefault()
                }


                $.post("/Registration/Save", this.model);
            }
        }
    }
</script>