﻿@using rupoi.Utils

@model string

@{
    string ts = "";

    if (!(string.IsNullOrEmpty(Model)))
    {
        ts = Model;
    }

    IDictionary<string, object> htmlAttributes = new System.Dynamic.ExpandoObject();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "form-control timepicker short-input " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "form-control timepicker short-input");
    }

    htmlAttributes.Add("Value", ts.ToString());

    if (ViewBag.CustomAttribute != null)
    {
        var myVar = (IDictionary<string, string>)ViewBag.CustomAttribute;
        foreach (var prop in myVar)
        {
            htmlAttributes.Add(prop.Key, prop.Value);
        }
    }

    var proName = ViewData.ModelMetadata.PropertyName;

    if (!htmlAttributes.Keys.Any(p => p.Equals("v-model")))
    {
        htmlAttributes.Add("v-model", "model." + proName);
    }

    string modelId = ViewData.TemplateInfo.GetFullHtmlFieldName("");
}

<div class="form-group">
    @Html.AdsLabelFor(m => m)
    <span class="input-icon icon-right">
        @Html.TextBoxFor(m => m, htmlAttributes)
        <i class="fa fa-calendar-o"></i>
    </span>
    @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
</div>

<script type="text/javascript">
    if (typeof $ !== 'undefined') {
        initDayPicker("#" + '@modelId',1);
    }
</script>



