@using rupoi.Utils
@model dynamic


<div class="form-group">

    @Html.LabelFor(m => m, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-8">
        @if (ViewBag.Collection != null)
        {

            foreach (var prop in ViewBag.Collection)
            {

                string name = prop.GetType().GetProperty("Name").GetValue(prop, null).ToString();
                string value = prop.GetType().GetProperty("Value").GetValue(prop, null).ToString();
                string _checked = value.Equals(Model.ToString()) ? "checked" : "";

                string modelName = ViewData.TemplateInfo.GetFullHtmlFieldName("");
                string modelId = ViewData.TemplateInfo.GetFullHtmlFieldName("");

                <div class="radio">
                    <label><input type="radio" value="@value" name="@modelName" id="@modelId" @_checked />@name</label>
                </div>
            }
        }
        @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
    </div>
</div>
