@using rupoi.Utils
@model dynamic

@{
    IDictionary<string, object> htmlAttributes = new System.Dynamic.ExpandoObject();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "form-control " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "form-control");
    }
    if (ViewBag.@type != null)
    {
        htmlAttributes.Add("type", ViewBag.@type);
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }
    if (ViewBag.CustomAttribute != null && ViewBag.CustomAttribute is Dictionary<string, string>)
    {
        var dictionary = ViewBag.CustomAttribute as Dictionary<string, string>;
        foreach (KeyValuePair<string, string> pair in dictionary)
        {
            htmlAttributes.Add(pair.Key, pair.Value);
        }
    }

    if (ViewBag.CustomAttribute != null && !(ViewBag.CustomAttribute is Dictionary<string, string>))
    {
        var myVar = ViewBag.CustomAttribute;
        foreach (var prop in myVar.GetType().GetProperties())
        {
            var propName = prop.Name;
            if (propName == "data_bind")
            {
                propName = "data-bind";
            }
            htmlAttributes.Add(propName, prop.GetValue(myVar, null));
        }
    }

    var proName = ViewData.ModelMetadata.PropertyName;

    if (!htmlAttributes.Keys.Any(p => p.Equals("v-model")))
    {
        htmlAttributes.Add("v-model", "model." + proName);
    }

}

<div class="form-group" ng-class="{'has-error':errorModel.@(proName)}">
    @Html.LabelFor(m => m, new { @class = "control-label" })
    <div class="col-sm-8" style="width: 100%; padding-left: 0px; white-space: nowrap;">
        @if (ViewBag.Collection != null)
        {
            if (ViewBag.Collection is Dictionary<int, string>)
            {
                var collection = (Dictionary<int, string>)ViewBag.Collection;
                foreach (var item in collection)
                {
                    string name = item.Value;
                    string value = item.Key.ToString();
                    string _checked = "";

                    if (Model != null && value == Model.ToString())
                    {
                        _checked = "checked";
                    }

                    <div class="radio" style="display: inline; margin: 0px 10px 0px 0px">
                        <label>
                            <input type="radio" value="@value" name="@(proName)" id="@(proName)" v-model="model.@(proName)" @_checked />
                            <span class="text">@name</span>
                        </label>
                    </div>
                }
            }
        }
        @*@Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })*@
        <span class="field-validation-valid help-block text-danger" ng-bind-html="errorModel.@proName"></span>
    </div>
</div>
