@using rupoi.Utils

<div class="form-group">
    @Html.AdsLabelFor(m => m)
    <div class="control-group">
        <span class="btn btn-default btn-file">
            <input type="File" name="@Html.IdFor(m => m)" id="@Html.IdFor(m => m)" class="btn-default btn-file" />
        </span>
    </div>
</div>