﻿
@using rupoi.Utils
@model object

<div class="form-group">
    @Html.LabelFor(m => m, new { @class = "control-label" })
    <div class="controls">
        <div id="summernote" style="display: none;"></div>
        <div class="note-editor">
            <div class="note-dropzone">
                <div class="note-dropzone-message">
                </div>
            </div>
            <div class="note-dialog">
                @*<div class="note-image-dialog modal" aria-hidden="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button tabindex="-1" class="close" aria-hidden="true" type="button">×</button><h4>Insert Image</h4>
                                </div><div class="modal-body">
                                    <div class="row-fluid">
                                        <h5>Select from files</h5>
                                        <input name="files" class="note-image-input" type="file" accept="image/*">
                                        <h5>Image URL</h5>
                                        <input class="note-image-url form-control span12" type="text">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button disabled="disabled" class="btn btn-primary note-image-btn disabled" href="#">Insert Image</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
                @*<div class="note-link-dialog modal" aria-hidden="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button tabindex="-1" class="close" aria-hidden="true" type="button">×</button>
                                    <h4>Insert Link</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row-fluid">
                                        <div class="form-group">
                                            <label>Text to display</label>
                                            <input disabled="" class="note-link-text form-control span12" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label>To what URL should this link go?</label>
                                            <input class="note-link-url form-control span12" type="text">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" checked=""> Open in new window
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button disabled="disabled" class="btn btn-primary note-link-btn disabled" href="#">Insert Link</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
                @*<div class="note-video-dialog modal" aria-hidden="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button tabindex="-1" class="close" aria-hidden="true" type="button">×</button>
                                    <h4>Insert Video</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row-fluid">
                                        <div class="form-group">
                                            <label>Video URL?</label>&nbsp;
                                            <small class="text-muted">(YouTube, Vimeo, Vine, Instagram, or DailyMotion)</small>
                                            <input class="note-video-url form-control span12" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button disabled="disabled" class="btn btn-primary note-video-btn disabled" href="#">Insert Video</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
                @*<div class="note-help-dialog modal" aria-hidden="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <a tabindex="-1" class="modal-close pull-right" aria-hidden="true">Close</a>
                                    <div class="title">Keyboard shortcuts</div>
                                    <p class="text-center">
                                        <a href="//hackerwins.github.io/summernote/" target="_blank">Summernote 0.5.1</a> ·
                                        <a href="//github.com/HackerWins/summernote" target="_blank">Project</a> ·
                                        <a href="//github.com/HackerWins/summernote/issues" target="_blank">Issues</a>
                                    </p>
                                    <table class="note-shortcut-layout">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table class="note-shortcut">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody><tr><td>Ctrl + Z</td><td>Undo</td></tr><tr><td>Ctrl + Shift + Z</td><td>Redo</td></tr><tr><td>Ctrl + ]</td><td>Indent</td></tr><tr><td>Ctrl + [</td><td>Outdent</td></tr><tr><td>Ctrl + ENTER</td><td>Insert Horizontal Rule</td></tr></tbody>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table class="note-shortcut">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Text formatting</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Ctrl + B</td>
                                                                <td>Bold</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ctrl + I</td>
                                                                <td>Italic</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ctrl + U</td>
                                                                <td>Underline</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ctrl + Shift + S</td>
                                                                <td>Strike</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ctrl + \</td>
                                                                <td>Remove Font Style</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table class="note-shortcut">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Document Style</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Ctrl + NUM0</td>
                                                                <td>Normal</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ctrl + NUM1</td>
                                                                <td>Header 1</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ctrl + NUM2</td>
                                                                <td>Header 2</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ctrl + NUM3</td>
                                                                <td>Header 3</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ctrl + NUM4</td>
                                                                <td>Header 4</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ctrl + NUM5</td>
                                                                <td>Header 5</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ctrl + NUM6</td>
                                                                <td>Header 6</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table class="note-shortcut">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Paragraph formatting</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Ctrl + Shift + L</td>
                                                                <td>Align left</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ctrl + Shift + E</td>
                                                                <td>Align center</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ctrl + Shift + R</td>
                                                                <td>Align right</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ctrl + Shift + J</td>
                                                                <td>Justify full</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ctrl + Shift + NUM7</td>
                                                                <td>Ordered list</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ctrl + Shift + NUM8</td>
                                                                <td>Unordered list</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="note-handle">
                <div class="note-control-selection" style="display: none;">
                    <div class="note-control-selection-bg"></div>
                    <div class="note-control-holder note-control-nw"></div>
                    <div class="note-control-holder note-control-ne"></div>
                    <div class="note-control-holder note-control-sw"></div>
                    <div class="note-control-sizing note-control-se"></div>
                    <div class="note-control-selection-info"></div>
                </div>
            </div>
            <div class="note-popover">
                @*<div class="note-link-popover popover bottom in" style="display: none;">
                        <div class="arrow"></div>
                        <div class="popover-content note-link-content">
                            <a href="http://www.google.com" target="_blank">www.google.com</a>&nbsp;&nbsp;
                            <div class="note-insert btn-group">
                                <button tabindex="-1" title="" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Edit" data-event="showLinkDialog">
                                    <i class="fa fa-edit icon-edit"></i>
                                </button>
                                <button tabindex="-1" title="" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Unlink" data-event="unlink">
                                    <i class="fa fa-unlink icon-unlink"></i>
                                </button>
                            </div>
                        </div>
                    </div>*@
                @*<div class="note-image-popover popover bottom in" style="display: none;">
                        <div class="arrow"></div><div class="popover-content note-image-content">
                            <div class="btn-group">
                                <button tabindex="-1" title="" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Resize Full" data-value="1" data-event="resize">
                                    <span class="note-fontsize-10">100%</span>
                                </button>
                                <button tabindex="-1" title="" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Resize Half" data-value="0.5" data-event="resize">
                                    <span class="note-fontsize-10">50%</span>
                                </button>
                                <button tabindex="-1" title="" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Resize Quarter" data-value="0.25" data-event="resize">
                                    <span class="note-fontsize-10">25%</span>
                                </button>
                            </div>
                            <div class="btn-group">
                                <button tabindex="-1" title="" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Float Left" data-value="left" data-event="floatMe">
                                    <i class="fa fa-align-left icon-align-left"></i>
                                </button>
                                <button tabindex="-1" title="" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Float Right" data-value="right" data-event="floatMe">
                                    <i class="fa fa-align-right icon-align-right"></i>
                                </button>
                                <button tabindex="-1" title="" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Float None" data-value="none" data-event="floatMe">
                                    <i class="fa fa-align-justify icon-align-justify"></i>
                                </button>
                            </div>
                            <div class="btn-group">
                                <button tabindex="-1" title="" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Remove Image" data-value="none" data-event="removeMedia">
                                    <i class="fa fa-trash-o icon-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="note-toolbar btn-toolbar">
                <div class="note-style btn-group">
                    <button tabindex="-1" title="Стиль" class="btn btn-default btn-sm btn-small dropdown-toggle" type="button" data-original-title="Style" data-toggle="dropdown">
                        <i class="fa fa-magic icon-magic"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a data-value="p" data-event="formatBlock">Normal</a></li>
                        <li><a data-value="blockquote" data-event="formatBlock"><blockquote>Quote</blockquote></a></li>
                        <li><a data-value="pre" data-event="formatBlock">Code</a></li>
                        <li><a data-value="h1" data-event="formatBlock"><h1>Header 1</h1></a></li>
                        <li><a data-value="h2" data-event="formatBlock"><h2>Header 2</h2></a></li>
                        <li><a data-value="h3" data-event="formatBlock"><h3>Header 3</h3></a></li>
                        <li><a data-value="h4" data-event="formatBlock"><h4>Header 4</h4></a></li>
                        <li><a data-value="h5" data-event="formatBlock"><h5>Header 5</h5></a></li>
                        <li><a data-value="h6" data-event="formatBlock"><h6>Header 6</h6></a></li>
                    </ul>
                </div>
                <div class="note-font btn-group">
                    <button tabindex="-1" title="Жирный" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Bold (Ctrl+B)" data-event="bold" data-mac-shortcut="⌘+B" data-shortcut="Ctrl+B">
                        <i class="fa fa-bold icon-bold"></i>
                    </button>
                    <button tabindex="-1" title="Курсив" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Italic (Ctrl+I)" data-event="italic" data-mac-shortcut="⌘+I" data-shortcut="Ctrl+I">
                        <i class="fa fa-italic icon-italic"></i>
                    </button>
                    <button tabindex="-1" title="Подчёркивание" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Underline (Ctrl+U)" data-event="underline" data-mac-shortcut="⌘+U" data-shortcut="Ctrl+U">
                        <i class="fa fa-underline icon-underline"></i>
                    </button>
                    <button tabindex="-1" title="Отметить форматирование" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Remove Font Style (Ctrl+\)" data-event="removeFormat" data-mac-shortcut="⌘+\" data-shortcut="Ctrl+\">
                        <i class="fa fa-eraser icon-eraser"></i>
                    </button>
                </div>
                <div class="note-fontname btn-group">
                    <button tabindex="-1" title="Шрифт" class="btn btn-default btn-sm btn-small dropdown-toggle" type="button" data-original-title="Font" data-toggle="dropdown">
                        <span class="note-current-fontname">"Open Sans"</span>
                        <b class="caret"></b>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a data-value="Serif" data-event="fontName"><i class="fa fa-check icon-ok"></i> Serif </a></li>
                        <li><a data-value="Sans" data-event="fontName"><i class="fa fa-check icon-ok"></i> Sans </a></li>
                        <li><a data-value="Arial" data-event="fontName"><i class="fa fa-check icon-ok"></i> Arial </a></li>
                        <li><a data-value="Arial Black" data-event="fontName"><i class="fa fa-check icon-ok"></i> Arial Black </a></li>
                        <li><a data-value="Courier" data-event="fontName"><i class="fa fa-check icon-ok"></i> Courier </a></li>
                        <li><a data-value="Courier New" data-event="fontName"><i class="fa fa-check icon-ok"></i> Courier New </a></li>
                        <li><a data-value="Comic Sans MS" data-event="fontName"><i class="fa fa-check icon-ok"></i> Comic Sans MS </a></li>
                        <li><a data-value="Helvetica" data-event="fontName"><i class="fa fa-check icon-ok"></i> Helvetica </a></li>
                        <li><a data-value="Impact" data-event="fontName"><i class="fa fa-check icon-ok"></i> Impact </a></li>
                        <li><a data-value="Lucida Grande" data-event="fontName"><i class="fa fa-check icon-ok"></i> Lucida Grande </a></li>
                        <li><a data-value="Lucida Sans" data-event="fontName"><i class="fa fa-check icon-ok"></i> Lucida Sans </a></li>
                        <li><a data-value="Tahoma" data-event="fontName"><i class="fa fa-check icon-ok"></i> Tahoma </a></li>
                        <li><a data-value="Times" data-event="fontName"><i class="fa fa-check icon-ok"></i> Times </a></li>
                        <li><a data-value="Times New Roman" data-event="fontName"><i class="fa fa-check icon-ok"></i> Times New Roman </a></li>
                        <li><a data-value="Verdana" data-event="fontName"><i class="fa fa-check icon-ok"></i> Verdana </a></li>
                    </ul>
                </div>
                <div class="note-color btn-group">
                    <button tabindex="-1" title="Ранее использованные цвета" class="btn btn-default btn-sm btn-small note-recent-color" type="button" data-original-title="Recent Color" data-value='{"backColor":"yellow"}' data-event="color">
                        <i class="fa fa-font icon-font" style="color: black; background-color: yellow;"></i>
                    </button>
                    <button tabindex="-1" title="Дополнительные цвета" class="btn btn-default btn-sm btn-small dropdown-toggle" type="button" data-original-title="More Color" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="btn-group">
                                <div class="note-palette-title">Цвет фона</div>
                                <div title="Прозрачность" class="note-color-reset" data-value="inherit" data-event="backColor">Установить прозрачным</div>
                                <div class="note-color-palette" data-target-event="backColor">
                                    <div>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(0, 0, 0);" type="button" data-original-title="#000000" data-toggle="button" data-value="#000000" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(66, 66, 66);" type="button" data-original-title="#424242" data-toggle="button" data-value="#424242" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(99, 99, 99);" type="button" data-original-title="#636363" data-toggle="button" data-value="#636363" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(156, 156, 148);" type="button" data-original-title="#9C9C94" data-toggle="button" data-value="#9C9C94" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(206, 198, 206);" type="button" data-original-title="#CEC6CE" data-toggle="button" data-value="#CEC6CE" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(239, 239, 239);" type="button" data-original-title="#EFEFEF" data-toggle="button" data-value="#EFEFEF" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(247, 247, 247);" type="button" data-original-title="#F7F7F7" data-toggle="button" data-value="#F7F7F7" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 255, 255);" type="button" data-original-title="#FFFFFF" data-toggle="button" data-value="#FFFFFF" data-event="backColor"></button>
                                    </div>
                                    <div>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 0, 0);" type="button" data-original-title="#FF0000" data-toggle="button" data-value="#FF0000" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 156, 0);" type="button" data-original-title="#FF9C00" data-toggle="button" data-value="#FF9C00" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 255, 0);" type="button" data-original-title="#FFFF00" data-toggle="button" data-value="#FFFF00" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(0, 255, 0);" type="button" data-original-title="#00FF00" data-toggle="button" data-value="#00FF00" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(0, 255, 255);" type="button" data-original-title="#00FFFF" data-toggle="button" data-value="#00FFFF" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(0, 0, 255);" type="button" data-original-title="#0000FF" data-toggle="button" data-value="#0000FF" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(156, 0, 255);" type="button" data-original-title="#9C00FF" data-toggle="button" data-value="#9C00FF" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 0, 255);" type="button" data-original-title="#FF00FF" data-toggle="button" data-value="#FF00FF" data-event="backColor"></button>
                                    </div>
                                    <div>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(247, 198, 206);" type="button" data-original-title="#F7C6CE" data-toggle="button" data-value="#F7C6CE" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 231, 206);" type="button" data-original-title="#FFE7CE" data-toggle="button" data-value="#FFE7CE" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 239, 198);" type="button" data-original-title="#FFEFC6" data-toggle="button" data-value="#FFEFC6" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(214, 239, 214);" type="button" data-original-title="#D6EFD6" data-toggle="button" data-value="#D6EFD6" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(206, 222, 231);" type="button" data-original-title="#CEDEE7" data-toggle="button" data-value="#CEDEE7" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(206, 231, 247);" type="button" data-original-title="#CEE7F7" data-toggle="button" data-value="#CEE7F7" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(214, 214, 231);" type="button" data-original-title="#D6D6E7" data-toggle="button" data-value="#D6D6E7" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(231, 214, 222);" type="button" data-original-title="#E7D6DE" data-toggle="button" data-value="#E7D6DE" data-event="backColor"></button>
                                    </div>
                                    <div>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(231, 156, 156);" type="button" data-original-title="#E79C9C" data-toggle="button" data-value="#E79C9C" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 198, 156);" type="button" data-original-title="#FFC69C" data-toggle="button" data-value="#FFC69C" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 231, 156);" type="button" data-original-title="#FFE79C" data-toggle="button" data-value="#FFE79C" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(181, 214, 165);" type="button" data-original-title="#B5D6A5" data-toggle="button" data-value="#B5D6A5" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(165, 198, 206);" type="button" data-original-title="#A5C6CE" data-toggle="button" data-value="#A5C6CE" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(156, 198, 239);" type="button" data-original-title="#9CC6EF" data-toggle="button" data-value="#9CC6EF" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(181, 165, 214);" type="button" data-original-title="#B5A5D6" data-toggle="button" data-value="#B5A5D6" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(214, 165, 189);" type="button" data-original-title="#D6A5BD" data-toggle="button" data-value="#D6A5BD" data-event="backColor"></button>
                                    </div>
                                    <div>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(231, 99, 99);" type="button" data-original-title="#E76363" data-toggle="button" data-value="#E76363" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(247, 173, 107);" type="button" data-original-title="#F7AD6B" data-toggle="button" data-value="#F7AD6B" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 214, 99);" type="button" data-original-title="#FFD663" data-toggle="button" data-value="#FFD663" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(148, 189, 123);" type="button" data-original-title="#94BD7B" data-toggle="button" data-value="#94BD7B" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(115, 165, 173);" type="button" data-original-title="#73A5AD" data-toggle="button" data-value="#73A5AD" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(107, 173, 222);" type="button" data-original-title="#6BADDE" data-toggle="button" data-value="#6BADDE" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(140, 123, 198);" type="button" data-original-title="#8C7BC6" data-toggle="button" data-value="#8C7BC6" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(198, 123, 165);" type="button" data-original-title="#C67BA5" data-toggle="button" data-value="#C67BA5" data-event="backColor"></button>
                                    </div>
                                    <div>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(206, 0, 0);" type="button" data-original-title="#CE0000" data-toggle="button" data-value="#CE0000" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(231, 148, 57);" type="button" data-original-title="#E79439" data-toggle="button" data-value="#E79439" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(239, 198, 49);" type="button" data-original-title="#EFC631" data-toggle="button" data-value="#EFC631" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(107, 165, 74);" type="button" data-original-title="#6BA54A" data-toggle="button" data-value="#6BA54A" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(74, 123, 140);" type="button" data-original-title="#4A7B8C" data-toggle="button" data-value="#4A7B8C" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(57, 132, 198);" type="button" data-original-title="#3984C6" data-toggle="button" data-value="#3984C6" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(99, 74, 165);" type="button" data-original-title="#634AA5" data-toggle="button" data-value="#634AA5" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(165, 74, 123);" type="button" data-original-title="#A54A7B" data-toggle="button" data-value="#A54A7B" data-event="backColor"></button>
                                    </div>
                                    <div>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(156, 0, 0);" type="button" data-original-title="#9C0000" data-toggle="button" data-value="#9C0000" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(181, 99, 8);" type="button" data-original-title="#B56308" data-toggle="button" data-value="#B56308" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(189, 148, 0);" type="button" data-original-title="#BD9400" data-toggle="button" data-value="#BD9400" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(57, 123, 33);" type="button" data-original-title="#397B21" data-toggle="button" data-value="#397B21" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(16, 74, 90);" type="button" data-original-title="#104A5A" data-toggle="button" data-value="#104A5A" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(8, 82, 148);" type="button" data-original-title="#085294" data-toggle="button" data-value="#085294" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(49, 24, 115);" type="button" data-original-title="#311873" data-toggle="button" data-value="#311873" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(115, 24, 66);" type="button" data-original-title="#731842" data-toggle="button" data-value="#731842" data-event="backColor"></button>
                                    </div>
                                    <div>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(99, 0, 0);" type="button" data-original-title="#630000" data-toggle="button" data-value="#630000" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(123, 57, 0);" type="button" data-original-title="#7B3900" data-toggle="button" data-value="#7B3900" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(132, 99, 0);" type="button" data-original-title="#846300" data-toggle="button" data-value="#846300" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(41, 82, 24);" type="button" data-original-title="#295218" data-toggle="button" data-value="#295218" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(8, 49, 57);" type="button" data-original-title="#083139" data-toggle="button" data-value="#083139" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(0, 49, 99);" type="button" data-original-title="#003163" data-toggle="button" data-value="#003163" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(33, 16, 74);" type="button" data-original-title="#21104A" data-toggle="button" data-value="#21104A" data-event="backColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(74, 16, 49);" type="button" data-original-title="#4A1031" data-toggle="button" data-value="#4A1031" data-event="backColor"></button>
                                    </div>

                                </div>
                            </div>
                            <div class="btn-group">
                                <div class="note-palette-title">Цвет шрифта</div>
                                <div title="Установить" class="note-color-reset" data-value="inherit" data-event="foreColor">Установить значение по умолчанию</div>
                                <div class="note-color-palette" data-target-event="foreColor">
                                    <div>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(0, 0, 0);" type="button" data-original-title="#000000" data-toggle="button" data-value="#000000" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(66, 66, 66);" type="button" data-original-title="#424242" data-toggle="button" data-value="#424242" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(99, 99, 99);" type="button" data-original-title="#636363" data-toggle="button" data-value="#636363" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(156, 156, 148);" type="button" data-original-title="#9C9C94" data-toggle="button" data-value="#9C9C94" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(206, 198, 206);" type="button" data-original-title="#CEC6CE" data-toggle="button" data-value="#CEC6CE" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(239, 239, 239);" type="button" data-original-title="#EFEFEF" data-toggle="button" data-value="#EFEFEF" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(247, 247, 247);" type="button" data-original-title="#F7F7F7" data-toggle="button" data-value="#F7F7F7" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 255, 255);" type="button" data-original-title="#FFFFFF" data-toggle="button" data-value="#FFFFFF" data-event="foreColor"></button>
                                    </div>
                                    <div>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 0, 0);" type="button" data-original-title="#FF0000" data-toggle="button" data-value="#FF0000" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 156, 0);" type="button" data-original-title="#FF9C00" data-toggle="button" data-value="#FF9C00" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 255, 0);" type="button" data-original-title="#FFFF00" data-toggle="button" data-value="#FFFF00" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(0, 255, 0);" type="button" data-original-title="#00FF00" data-toggle="button" data-value="#00FF00" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(0, 255, 255);" type="button" data-original-title="#00FFFF" data-toggle="button" data-value="#00FFFF" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(0, 0, 255);" type="button" data-original-title="#0000FF" data-toggle="button" data-value="#0000FF" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(156, 0, 255);" type="button" data-original-title="#9C00FF" data-toggle="button" data-value="#9C00FF" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 0, 255);" type="button" data-original-title="#FF00FF" data-toggle="button" data-value="#FF00FF" data-event="foreColor"></button>
                                    </div>
                                    <div>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(247, 198, 206);" type="button" data-original-title="#F7C6CE" data-toggle="button" data-value="#F7C6CE" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 231, 206);" type="button" data-original-title="#FFE7CE" data-toggle="button" data-value="#FFE7CE" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 239, 198);" type="button" data-original-title="#FFEFC6" data-toggle="button" data-value="#FFEFC6" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(214, 239, 214);" type="button" data-original-title="#D6EFD6" data-toggle="button" data-value="#D6EFD6" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(206, 222, 231);" type="button" data-original-title="#CEDEE7" data-toggle="button" data-value="#CEDEE7" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(206, 231, 247);" type="button" data-original-title="#CEE7F7" data-toggle="button" data-value="#CEE7F7" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(214, 214, 231);" type="button" data-original-title="#D6D6E7" data-toggle="button" data-value="#D6D6E7" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(231, 214, 222);" type="button" data-original-title="#E7D6DE" data-toggle="button" data-value="#E7D6DE" data-event="foreColor"></button>
                                    </div>
                                    <div>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(231, 156, 156);" type="button" data-original-title="#E79C9C" data-toggle="button" data-value="#E79C9C" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 198, 156);" type="button" data-original-title="#FFC69C" data-toggle="button" data-value="#FFC69C" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 231, 156);" type="button" data-original-title="#FFE79C" data-toggle="button" data-value="#FFE79C" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(181, 214, 165);" type="button" data-original-title="#B5D6A5" data-toggle="button" data-value="#B5D6A5" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(165, 198, 206);" type="button" data-original-title="#A5C6CE" data-toggle="button" data-value="#A5C6CE" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(156, 198, 239);" type="button" data-original-title="#9CC6EF" data-toggle="button" data-value="#9CC6EF" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(181, 165, 214);" type="button" data-original-title="#B5A5D6" data-toggle="button" data-value="#B5A5D6" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(214, 165, 189);" type="button" data-original-title="#D6A5BD" data-toggle="button" data-value="#D6A5BD" data-event="foreColor"></button>
                                    </div>
                                    <div>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(231, 99, 99);" type="button" data-original-title="#E76363" data-toggle="button" data-value="#E76363" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(247, 173, 107);" type="button" data-original-title="#F7AD6B" data-toggle="button" data-value="#F7AD6B" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(255, 214, 99);" type="button" data-original-title="#FFD663" data-toggle="button" data-value="#FFD663" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(148, 189, 123);" type="button" data-original-title="#94BD7B" data-toggle="button" data-value="#94BD7B" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(115, 165, 173);" type="button" data-original-title="#73A5AD" data-toggle="button" data-value="#73A5AD" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(107, 173, 222);" type="button" data-original-title="#6BADDE" data-toggle="button" data-value="#6BADDE" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(140, 123, 198);" type="button" data-original-title="#8C7BC6" data-toggle="button" data-value="#8C7BC6" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(198, 123, 165);" type="button" data-original-title="#C67BA5" data-toggle="button" data-value="#C67BA5" data-event="foreColor"></button>
                                    </div>
                                    <div>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(206, 0, 0);" type="button" data-original-title="#CE0000" data-toggle="button" data-value="#CE0000" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(231, 148, 57);" type="button" data-original-title="#E79439" data-toggle="button" data-value="#E79439" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(239, 198, 49);" type="button" data-original-title="#EFC631" data-toggle="button" data-value="#EFC631" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(107, 165, 74);" type="button" data-original-title="#6BA54A" data-toggle="button" data-value="#6BA54A" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(74, 123, 140);" type="button" data-original-title="#4A7B8C" data-toggle="button" data-value="#4A7B8C" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(57, 132, 198);" type="button" data-original-title="#3984C6" data-toggle="button" data-value="#3984C6" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(99, 74, 165);" type="button" data-original-title="#634AA5" data-toggle="button" data-value="#634AA5" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(165, 74, 123);" type="button" data-original-title="#A54A7B" data-toggle="button" data-value="#A54A7B" data-event="foreColor"></button>
                                    </div>
                                    <div>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(156, 0, 0);" type="button" data-original-title="#9C0000" data-toggle="button" data-value="#9C0000" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(181, 99, 8);" type="button" data-original-title="#B56308" data-toggle="button" data-value="#B56308" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(189, 148, 0);" type="button" data-original-title="#BD9400" data-toggle="button" data-value="#BD9400" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(57, 123, 33);" type="button" data-original-title="#397B21" data-toggle="button" data-value="#397B21" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(16, 74, 90);" type="button" data-original-title="#104A5A" data-toggle="button" data-value="#104A5A" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(8, 82, 148);" type="button" data-original-title="#085294" data-toggle="button" data-value="#085294" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(49, 24, 115);" type="button" data-original-title="#311873" data-toggle="button" data-value="#311873" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(115, 24, 66);" type="button" data-original-title="#731842" data-toggle="button" data-value="#731842" data-event="foreColor"></button>
                                    </div>
                                    <div>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(99, 0, 0);" type="button" data-original-title="#630000" data-toggle="button" data-value="#630000" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(123, 57, 0);" type="button" data-original-title="#7B3900" data-toggle="button" data-value="#7B3900" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(132, 99, 0);" type="button" data-original-title="#846300" data-toggle="button" data-value="#846300" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(41, 82, 24);" type="button" data-original-title="#295218" data-toggle="button" data-value="#295218" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(8, 49, 57);" type="button" data-original-title="#083139" data-toggle="button" data-value="#083139" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(0, 49, 99);" type="button" data-original-title="#003163" data-toggle="button" data-value="#003163" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(33, 16, 74);" type="button" data-original-title="#21104A" data-toggle="button" data-value="#21104A" data-event="foreColor"></button>
                                        <button tabindex="-1" title="" class="note-color-btn" style="background-color: rgb(74, 16, 49);" type="button" data-original-title="#4A1031" data-toggle="button" data-value="#4A1031" data-event="foreColor"></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="note-para btn-group">
                    <button tabindex="-1" title="Маркеры" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Unordered list (Ctrl+Shift+8)" data-event="insertUnorderedList" data-mac-shortcut="⌘+⇧+7" data-shortcut="Ctrl+Shift+8">
                        <i class="fa fa-list-ul icon-list-ul"></i>
                    </button>
                    <button tabindex="-1" title="Нумерация" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Ordered list (Ctrl+Shift+7)" data-event="insertOrderedList" data-mac-shortcut="⌘+⇧+8" data-shortcut="Ctrl+Shift+7">
                        <i class="fa fa-list-ol icon-list-ol"></i>
                    </button>
                    <button tabindex="-1" title="Параграф" class="btn btn-default btn-sm btn-small dropdown-toggle" type="button" data-original-title="Paragraph" data-toggle="dropdown">
                        <i class="fa fa-align-left icon-align-left"></i>
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu">
                        <div class="note-align btn-group">
                            <button tabindex="-1" title="Выровнять по левому краю" class="btn btn-default btn-sm btn-small active" type="button" data-original-title="Align left (Ctrl+Shift+L)" data-event="justifyLeft" data-mac-shortcut="⌘+⇧+L" data-shortcut="Ctrl+Shift+L">
                                <i class="fa fa-align-left icon-align-left"></i>
                            </button>
                            <button tabindex="-1" title="Выровнять по центру" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Align center (Ctrl+Shift+E)" data-event="justifyCenter" data-mac-shortcut="⌘+⇧+E" data-shortcut="Ctrl+Shift+E">
                                <i class="fa fa-align-center icon-align-center"></i>
                            </button>
                            <button tabindex="-1" title="Выровнять по правому краю" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Align right (Ctrl+Shift+R)" data-event="justifyRight" data-mac-shortcut="⌘+⇧+R" data-shortcut="Ctrl+Shift+R">
                                <i class="fa fa-align-right icon-align-right"></i>
                            </button>
                            <button tabindex="-1" title="Выровнять по ширине" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Justify full (Ctrl+Shift+J)" data-event="justifyFull" data-mac-shortcut="⌘+⇧+J" data-shortcut="Ctrl+Shift+J">
                                <i class="fa fa-align-justify icon-align-justify"></i>
                            </button>
                        </div>
                        <div class="note-list btn-group">
                            <button tabindex="-1" title="Уменьшить отступ" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Outdent (Ctrl+[)" data-event="outdent" data-mac-shortcut="⌘+[" data-shortcut="Ctrl+[">
                                <i class="fa fa-outdent icon-indent-left"></i>
                            </button>
                            <button tabindex="-1" title="Увеличить отступ" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Indent (Ctrl+])" data-event="indent" data-mac-shortcut="⌘+]" data-shortcut="Ctrl+]">
                                <i class="fa fa-indent icon-indent-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="note-height btn-group">
                    <button tabindex="-1" title="Высота строки" class="btn btn-default btn-sm btn-small dropdown-toggle" type="button" data-original-title="Line Height" data-toggle="dropdown">
                        <i class="fa fa-text-height icon-text-height"></i>&nbsp;
                        <b class="caret"></b>
                    </button><ul class="dropdown-menu">
                        <li><a data-value="1.0" data-event="lineHeight"><i class="fa fa-check icon-ok"></i> 1.0</a></li>
                        <li><a data-value="1.2" data-event="lineHeight"><i class="fa fa-check icon-ok"></i> 1.2</a></li>
                        <li><a data-value="1.4" data-event="lineHeight"><i class="fa fa-check icon-ok"></i> 1.4</a></li>
                        <li><a data-value="1.5" data-event="lineHeight"><i class="fa fa-check icon-ok"></i> 1.5</a></li>
                        <li><a data-value="1.6" data-event="lineHeight"><i class="fa fa-check icon-ok"></i> 1.6</a></li>
                        <li><a data-value="1.8" data-event="lineHeight"><i class="fa fa-check icon-ok"></i> 1.8</a></li>
                        <li><a data-value="2.0" data-event="lineHeight"><i class="fa fa-check icon-ok"></i> 2.0</a></li>
                        <li><a data-value="3.0" data-event="lineHeight"><i class="fa fa-check icon-ok"></i> 3.0</a></li>
                    </ul>
                </div>
                <div class="note-table btn-group">
                    <button tabindex="-1" title="Таблица" class="btn btn-default btn-sm btn-small dropdown-toggle" type="button" data-original-title="Table" data-toggle="dropdown">
                        <i class="fa fa-table icon-table"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <div class="note-dimension-picker">
                            <div class="note-dimension-picker-mousecatcher" data-value="1x1" data-event="insertTable"></div>
                            <div class="note-dimension-picker-highlighted"></div>
                            <div class="note-dimension-picker-unhighlighted"></div>
                        </div>
                        <div class="note-dimension-display"> 1 x 1 </div>
                    </ul>
                </div>
                @*<div class="note-insert btn-group">
                        <button tabindex="-1" title="" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Link" data-event="showLinkDialog">
                            <i class="fa fa-link icon-link"></i>
                        </button>
                        <button tabindex="-1" title="" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Picture" data-event="showImageDialog">
                            <i class="fa fa-picture-o icon-picture"></i>
                        </button>
                        <button tabindex="-1" title="" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Video" data-event="showVideoDialog">
                            <i class="fa fa-youtube-play icon-play"></i>
                        </button>
                    </div>*@
                <div class="note-view btn-group">
                    @*<button tabindex="-1" title="" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Full Screen" data-event="fullscreen">
                            <i class="fa fa-arrows-alt icon-fullscreen"></i>
                        </button>*@
                    <button tabindex="-1" title="HTML код" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Code View" data-event="codeview">
                        <i class="fa fa-code icon-code"></i>
                    </button>
                </div>
                @*<div class="note-help btn-group">
                        <button tabindex="-1" title="" class="btn btn-default btn-sm btn-small" type="button" data-original-title="Help" data-event="showHelpDialog">
                            <i class="fa fa-question icon-question"></i>
                        </button>
                    </div>*@
            </div>
            @Html.TextArea("", new { @class = "note-codable" })
            <div class="note-editable" style="height: 400px;" contenteditable="true">@Html.Raw(Model)</div>
            @*<div class="note-statusbar">
                    <div class="note-resizebar">
                        <div class="note-icon-bar"></div>
                        <div class="note-icon-bar"></div>
                        <div class="note-icon-bar"></div>
                    </div>
                </div>*@
        </div>
        @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
    </div>
</div>
<script>
    $('#summernote').summernote({ height: 400 });
</script>
