﻿@using rupoi.Utils
@model object

<div class="form-group">
    @Html.LabelFor(m => m, new { @class = "control-label" })
    <div class="controls">
        <div id="summernote"></div>
        @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
    </div>
</div>
<script>
    $('#summernote').summernote({ height: 400 });
    var noteEditableElems = $('@Html.Raw(Model)');
    $('div.note-editable').empty().append(noteEditableElems);
    $('textarea.note-codable').attr('id', '@Html.IdForModel()');
    $('textarea.note-codable').attr('name', '@Html.IdForModel()');
    $('textarea.note-codable').text('@Html.Raw(Model)');
</script>
