﻿@using rupoi.Utils
@using rupoi.Resources
@using rupoi.Models.Attributes
@model dynamic

@{
    IDictionary<string, object> htmlAttributes = new System.Dynamic.ExpandoObject();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "form-control " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "form-control");
    }
    if (ViewBag.@type != null)
    {
        htmlAttributes.Add("type", ViewBag.@type);
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }
    if (ViewBag.CustomAttribute != null && ViewBag.CustomAttribute is Dictionary<string, string>)
    {
        var dictionary = ViewBag.CustomAttribute as Dictionary<string, string>;
        foreach (KeyValuePair<string, string> pair in dictionary)
        {
            htmlAttributes.Add(pair.Key, pair.Value);
        }
    }

    if (ViewBag.CustomAttribute != null && !(ViewBag.CustomAttribute is Dictionary<string, string>))
    {
        var myVar = ViewBag.CustomAttribute;
        foreach (var prop in myVar.GetType().GetProperties())
        {
            var propName = prop.Name;
            if (propName == "data_bind")
            {
                propName = "data-bind";
            }
            htmlAttributes.Add(propName, prop.GetValue(myVar, null));
        }
    }

    var proName = ViewData.ModelMetadata.PropertyName;
    var ngModel = "";
    var ngVal = "";

    if (!htmlAttributes.Keys.Any(p => p.Equals("v-model")))
    {
        ngModel = "model." + proName;
        ngVal = "model." + proName.Replace("Id", "Value");

        htmlAttributes.Add("v-model", ngModel);
    }
    var tableName = "";
    var tableCode = "";
    var customAttributes = (ViewData.ModelMetadata).ContainerType.GetProperty(ViewData.ModelMetadata.PropertyName).GetCustomAttributes(typeof(DictionaryTableNameAttribute), false);
    if (customAttributes.Length > 0)
    {
        DictionaryTableNameAttribute customAttribute = customAttributes[0] as DictionaryTableNameAttribute;

        if (customAttribute != null)
        {
            tableName = customAttribute.TableName;
            tableCode = customAttribute.TableCode;
        }
    }
}

<div class="form-group" ng-class="{'has-error':errorModel.@(proName)}">
    @Html.AdsLabelFor(m => m)

    <ui-select id="@ngModel" v-model="@ngModel" ng-change="@(proName)Change();" theme="bootstrap" spinner-enabled="true">
        <ui-select-match allow-clear="true" style="white-space: nowrap; overflow: hidden;" placeholder="@LocResource.SelectDictionary_Placeholder">{{$select.selected.Name || @ngVal}}</ui-select-match>
        <ui-select-choices repeat="address.Id as address in @(proName)List track by $index" refresh="refreshDictionary($select.search, '@tableName', '@proName', '@tableCode')"
                           minimum-input-length="0" refresh-delay="0">
            <span ng-bind-html="address.Name"></span>
        </ui-select-choices>
    </ui-select>

    @*@Html.ValidationMessageFor(m => m, null, new {@class = "help-block"})*@
    <span class="field-validation-valid help-block text-danger" ng-bind-html="errorModel.@proName"></span>
</div>