﻿@using rupoi.Utils

@model TimeSpan?

@{
    TimeSpan ts;
    if (Model.HasValue)
    {
        ts = (TimeSpan)Model.Value;
        if (ts == TimeSpan.MinValue) { ts = TimeSpan.Zero; }
    }
    else
    {
        ts = TimeSpan.Zero;
    }

    IDictionary<string, object> htmlAttributes = new System.Dynamic.ExpandoObject();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "form-control timepicker short-input " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "form-control timepicker short-input");
    }

    htmlAttributes.Add("Value", ts.ToString("hh\\:mm"));

    if (ViewBag.CustomAttribute != null)
    {
        var myVar = (IDictionary<string, string>)ViewBag.CustomAttribute;
        foreach (var prop in myVar)
        {
            htmlAttributes.Add(prop.Key, prop.Value);
        }
    }

    string modelId = ViewData.TemplateInfo.GetFullHtmlFieldName("");

    var proName = ViewData.ModelMetadata.PropertyName;

    if (!htmlAttributes.Keys.Any(p => p.Equals("v-model")))
    {
        htmlAttributes.Add("v-model", "model." + proName);
    }
}

<div class="form-group" ng-class="{'has-error':errorModel.@(proName)}">
    @Html.AdsLabelFor(m => m)
    <span class="input-icon icon-right">
        @Html.TextBoxFor(m => m, "hh\\:mm", htmlAttributes)
        <i class="fa fa-clock-o"></i>
    </span>
    @*@Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })*@
    <span class="field-validation-valid help-block text-danger" ng-bind-html="errorModel.@proName"></span>
</div>

<script type="text/javascript">
    if (typeof $ !== 'undefined') {
        initTimePicker("#" + '@modelId');
    }
</script>


